html, body {
  height: 95%;
}

#main-container {
  text-align: center;
  border-radius: 10px;
  max-width: 900px;
  min-width: 400px;
  height: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(59, 55, 71);
}
.btn {
  margin: 8px;
}
form {
  text-align: left;
}
.date-form-group {
  margin-top: 25px;
}
.date-label {
  padding-right: 8px;
}
.engineer-container {
  border-radius: 10px;
  width: 130px;
  height: 48px;
  padding: 10px;
  margin: 0px 10px;
  text-overflow: ellipsis;
  background-color: #333;
}

.table-empty {
  margin: 100px 0px;
}
div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: left;
}