<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory Manager</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container" id="main-container">
      @RenderBody()
      @await Html.PartialAsync("Footer")
    </div>
  </body>
</html>