@{
  Layout = "_Layout";
}
<h1 class="py-1">Factory Manager</h1>
<hr />
<div class="my-4">
  <p>Your all-in-one factory repair management system.</p>
</div>


@Html.ActionLink("View Engineers", "Index", "Engineers", new{}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("View Machines", "Index", "Machines", new{}, new { @class = "btn btn-outline-primary" })